.logo {
    text-decoration: none;

    color: white;
}

.navbar h2 {
    text-decoration: none;

    color: white;
    font-size: 40px;

    list-style: none;

}

/* NAVIGATION BAR */
.navbar {
    width: 100%;

    padding: 15px 50px;

    background: rgb(255, 255, 255);

    background-color: #1e4b9e;

    display: flex;

    align-items: center;

    justify-content: space-evenly;

    list-style: none;

    position: fixed;

    top: 0;

    left: 0;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    z-index: 1000;

}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;

    color: white;
    font-size: 20px;

    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffd700;
}

.logoImg img {
    width: 100px;

    border-radius: 50%;
    float: left;

}

body {
    margin: 0;

    font-family: Arial, sans-serif;

}

h1 {
    padding-top: 50px;

}

p {
    text-align: center;

    margin-bottom: 20px;

}

/* Page Title */
h1 {
    margin-top: 120px;

    text-align: center;

    font-size: 40px;

}

/* Form Container */
form {
    width: 400px;

    margin: 30px auto;

    padding: 30px;

    background: white;

    border-radius: 10px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

/* Labels */
label {
    font-size: 16px;

    display: block;

    margin-bottom: 5px;

}

/* Inputs */
input,
textarea {
    width: 100%;

    padding: 10px;

    margin-bottom: 15px;

    border-radius: 6px;

    border: 1px solid #ccc;

    font-size: 16px;

}

/* Button */
button {
    width: 100%;

    padding: 12px;

    background-color: #1e4b9e;

    color: white;

    border: none;

    font-size: 18px;

    border-radius: 6px;

    cursor: pointer;

}

button:hover {
    background-color: #163876;

}