.logo {
    text-decoration: none;

    color: white;
}


.navbar h2 {
    text-decoration: none;

    color: white;
    font-size: 40px;

    list-style: none;

}




.navbar {
    width: 100%;

    padding: 15px 50px;

    background: rgb(255, 255, 255);

    background-color: #1e4b9e;

    display: flex;

    align-items: center;

    justify-content: space-evenly;

    list-style: none;

    position: fixed;

    top: 0;

    left: 0;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    z-index: 1000;

}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;

    color: white;
    font-size: 20px;

    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffd700;
}

.logoImg img {
    width: 100px;

    border-radius: 50%;
    float: left;

}

h2 {
    text-decoration: none;

    color: black;

    font-size: 40px;

    list-style: none;

}

body {
    margin: 0;

    font-family: Arial, sans-serif;

}


h1 {
    margin-top: 160px;

    text-align: center;

    font-size: 40px;

}


h2 {
    font-size: 28px;

    margin: 40px 0 10px;

    text-align: center;

}

p {
    text-align: center;

    max-width: 600px;

    margin: auto;

    font-size: 18px;

}


.destination-box {
    width: 80%;

    margin: auto;

    padding: 20px;

    text-align: center;

}


.destinations {
    padding: 50px;

    text-align: center;

}

.destinations h2 {
    font-size: 32px;

    margin-bottom: 30px;

}

.cards {
    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 20px;

    margin-top: 30px;
}

.card {
    width: 1000px;
    height: 500px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: auto;
    height: 330px;
    border-radius: 8px;
    object-fit: cover;
}

.card h3 {
    margin-top: 10px;
    font-size: 20px;
}

.card p {
    font-size: 14px;
    color: #555;
}