body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Page Title */
h1 {
    text-align: center;
    margin-top: 120px;
    font-size: 40px;
}

/* Section Titles */
h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
}

/* Paragraph */
p {
    text-align: center;
    font-size: 18px;
    max-width: 600px;
    margin: 10px auto;
}

/* List */
ul {
    max-width: 300px;
    margin: auto;
    font-size: 18px;
}